
@{
    List<Equipment_hub.Data.Models.Equipment_hub_Equipment_Type> data0  =  ( List<Equipment_hub.Data.Models.Equipment_hub_Equipment_Type>)@ViewBag.data0;
} 
 @{
 List<Equipment_hub.Models.Equipment_hub_Rent_Rate_data> data1  =  ( List<Equipment_hub.Models.Equipment_hub_Rent_Rate_data>)@ViewBag.data1;
} 
 @{
 List<Equipment_hub.Data.Models.Equipment_hub_Vendor_Company> data2  =  ( List<Equipment_hub.Data.Models.Equipment_hub_Vendor_Company>)@ViewBag.data2;
} 
 @{
 List<Equipment_hub.Data.Models.Equipment_hub_Activity_Status> data3  =  ( List<Equipment_hub.Data.Models.Equipment_hub_Activity_Status>)@ViewBag.data3;
} 
 @{
 
}  

<div class="card">
    <div class="card-body">
        <h4 class="card-title">New Equipment Activity</h4>
        <div class="form-validation">
            <form id ="widgetu1290"class="form-valide" action="#"  method="post" enctype="multipart/form-data"> 
                @Html.AntiForgeryToken()  

                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>

                                <th>   </th> 
                                <th>Equipement Type</th>
                                <th>Duration Type</th>
                                <th>Qunatity</th>
                                <th>Price</th>
                                <th>Entry Date</th>
                                <th>Vendor</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Equipment_hub.Models.Equipment_hub_Rent_Rate_data item in data1)
                            {
                                <tr>
                                    <td> <a href="#Equipment_type" onclick="selectRate(@item.Id
   , @item.Equipement_type ,@item.Vendor ,'@item.Qunatity','@item.Duration_type_data',' @item.Price')">Select</a>  </td>
                                    <td>@Html.DisplayFor(modelItem => item.Equipement_type_data)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Duration_type_data)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Qunatity)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Entry_date)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Vendor_data)</td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>

                                <th>   </th> 
                                <th>Equipement Type</th>
                                <th>Duration Type</th>
                                <th>Qunatity</th>
                                <th>Price</th>
                                <th>Entry Date</th>
                                <th>Vendor</th>

                            </tr>
                        </tfoot>
                    </table>
                </div>


                <div class="form-group row">
                    @*<label class="col-lg-4 col-form-label">Rent Rare</label>*@
                    <div class="col-lg-6">
                        <select disabled style="visibility: hidden;" class="form-control" id="Rent_rate" name="Rent_rate">
                            <option value="">Select Rent rate</option>
                            @foreach (Equipment_hub.Models.Equipment_hub_Rent_Rate_data item in data1)
                            {
                                <option value="@item.Id">


                                    @item.Equipement_type_data - @item.Duration_type_data


                                </option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                <label class="col-lg-4 col-form-label">Equipment Type</label>
                <div class="col-lg-6">
                    <select disabled  class="form-control" id="Equipment_type" name="Equipment_type">
                        <option value="">Select Equipment type</option>
                        @foreach (Equipment_hub.Data.Models.Equipment_hub_Equipment_Type item in data0)
                        {
                            <option value="@item.Id"> @item.Name_of_equipment</option>
                        }
                    </select>                     </div>
              </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Duration Type</label>
                    <div class="col-lg-6">
                        <input id="dt" name="dt" disabled required type="text" class="form-control"
                               placeholder="Duration type" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Price Per Unit Per Duration</label>
                    <div class="col-lg-6">
                        <input id="ppupd" name="ppupd" disabled required type="text" class="form-control"
                               placeholder="Duration type" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Rent Rate Qunatity</label>
                    <div class="col-lg-6">
                        <input id="Rent_rate_qunatity" name="Rent_rate_qunatity" required onkeyup="doCal()" type="text" class="form-control" maxlength="4"
                               placeholder="Rent Rate Qunatity" />
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Requested Duration</label>
                    <div class="col-lg-6">
                        <input id="rd" disabled name="rd" required   type="text" class="form-control" maxlength="4"
                               placeholder="Rent Rate Qunatity" />
                    </div>
                </div>
                <div class="form-group row">
                <label class="col-lg-4 col-form-label">Number Of Units</label>
                <div class="col-lg-6">
                       <input id="Number_of_units" name="Number_of_units" required   onkeyup="doCal(this)"    type="text" class="form-control" maxlength="4"
                       placeholder="Number Of Units" />
                     </div>
              </div>
                

                     <input id="Customer_company" name="Customer_company"  value="@Session["Customer_company"]"  type="hidden"  />
                <input id="dq" name="dq" value="" type="hidden" />
                <input id="dtype" name="dtype" value="" type="hidden" />

                <div class="form-group row">
                <label class="col-lg-4 col-form-label">Vendor Company</label>
                <div class="col-lg-6">
                    <select disabled class="form-control" id="Vendor_company" name="Vendor_company">
                        <option value="">Select Vendor company</option>
                        @foreach (Equipment_hub.Data.Models.Equipment_hub_Vendor_Company item in data2)
                        {
                            <option value="@item.Id"> @item.Company_name</option>
                        }
                    </select>                     </div>
              </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Tentative Bill</label>
                    <div class="col-lg-6">
                        <input id="tb" disabled name="tb" required   type="text" class="form-control" maxlength="4"
                               placeholder="Rent Rate Qunatity" />
                    </div>
                </div>
                
                <input id="Activity_status" name="Activity_status" value="." type="hidden" />

                @*<div class="form-group row">
                <label class="col-lg-4 col-form-label">Activity Status</label>
                <div class="col-lg-6">
                            <select class="form-control" id="Activity_status" name="Activity_status">
                            <option value="">Select Activity status</option>
                            @foreach (Equipment_hub.Data.Models.Equipment_hub_Activity_Status item in data3)
                            {
                               <option value="@item.Id"> @item.Activity_status_name</option>
                            }
                            </select>                     </div>
              </div>*@
                <input id="Activity_date" name="Activity_date" value="." type="hidden" />

                @*<div class="form-group row">
                <label class="col-lg-4 col-form-label">Activity date</label>
                <div class="col-lg-6">
                     <input id="Activity_date" name="Activity_date" required   type="datetime" class="form-control" maxlength="1"
                     placeholder="activity date" />
                     </div>
              </div>*@

                <div class="form-group row">
                    <div class="col-lg-8 ml-auto">
                        <button type="button" class="btn btn-primary" onclick="checkAndGo()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var selectedRights = "";
    //Rent_rate_qunatity rd  Number_of_units tb dtype
    function doCal() {
        doCleanN(document.getElementById("Rent_rate_qunatity"));
        doCleanN(document.getElementById("Number_of_units"));

        document.getElementById("rd").value  = "" ;
        document.getElementById("tb").value = "";
 
      //  alert(1);


        if (document.getElementById("Rent_rate_qunatity").value.trim().length == 0) {
            return;
        }
        if (document.getElementById("dq").value.trim().length == 0) {
            return;
        }
        document.getElementById("rd").value = Number(document.getElementById("dq").value.split(",").join("")) * Number(document.getElementById("Rent_rate_qunatity").value.split(",").join(""));
        doCleanN(document.getElementById("rd"));
        document.getElementById("rd").value += " " + document.getElementById("dtype").value;

        if (document.getElementById("Number_of_units").value.trim().length == 0) {
            return;
        }
        document.getElementById("tb").value = Number(document.getElementById("Number_of_units").value.split(",").join("")) * Number(document.getElementById("ppupd").value.split(",").join("")) * Number(document.getElementById("Rent_rate_qunatity").value.split(",").join(""));
        doCleanN(document.getElementById("tb"));
         
    }
    function selectRate(Id, Equipement_type, Vendor,durationQ, durationT,Price) {
        document.getElementById("Rent_rate").value = Id;
        document.getElementById("Equipment_type").value = Equipement_type;
        document.getElementById("Vendor_company").value = Vendor;
        document.getElementById("dt").value = durationQ + " " + durationT;
        document.getElementById("dtype").value =   durationT;
        document.getElementById("dq").value = durationQ  ;
        document.getElementById("ppupd").value = Price;
        //alert(document.getElementById("Rent_rate").value);
        doCal();
        return false;
    }
    function setRight(id) {
        selectedRights = document.getElementById("selectedRights").value;
        if (selectedRights.indexOf("sphinxcol" + id + "sphinxcol") > -1) {
            selectedRights = selectedRights.split("sphinxcol" + id + "sphinxcol").join("");
        }
        else {
            selectedRights += "sphinxcol" + id + "sphinxcol";
        }
        document.getElementById("selectedRights").value = selectedRights;
    }
    function doClean(text) {
        text.value = text.value.split("'").join("");
        text.value = text.value.split(">").join("");
        text.value = text.value.split("<").join("");
        text.value = text.value.split("~").join("");
        text.value = text.value.split("&").join("");
        text.value = text.value.split("\\").join("");
        text.value = text.value.split("_").join("");
        text.value = text.value.split("%").join("");
        text.value = text.value.split("\"").join("");
    }
    function doCleanN(text) {
        var list = "0123456789";
        var data = text.value;
        for (i = 0; i < data.length; i++) {
            if (list.indexOf(data.substring(i, i + 1)) == -1) {
                data = data.split(data.substring(i, i + 1)).join("");
            }
        }
        text.value = data;
    }
        function msg(txt) {
            sweetAlert("...", txt, "info");
        }
        function doCleanNumber(textBox) {
            var strVal;
            var strVal1;
            var strVal2;
            var dot;
            var i;
            var strComma;
            strVal2 = "";
            strComma = "";
            strVal1 = "";
            if (isNaN(textBox.value.split(",").join(""))) {
                textBox.value = parseFloat(textBox.value.split(",").join(""));
            }
            strVal = textBox.value;
            dot = 0;
            for (i = 0; i < strVal.length; i++) {
                if (strVal.substring(i, i + 1).indexOf('.') > -1) {
                    dot = dot + 1;
                }
                if ((strVal.substring(i, i + 1).indexOf('0') > -1) || (strVal.substring(i, i + 1).indexOf("1") > -1) || (strVal.substring(i, i + 1).indexOf("2") > -1) || (strVal.substring(i, i + 1).indexOf("3") > -1) || (strVal.substring(i, i + 1).indexOf("4") > -1) || (strVal.substring(i, i + 1).indexOf("5") > -1) || (strVal.substring(i, i + 1).indexOf("6") > -1) || (strVal.substring(i, i + 1).indexOf("7") > -1) || (strVal.substring(i, i + 1).indexOf("8") > -1) || (strVal.substring(i, i + 1).indexOf("9") > -1) || ((strVal.substring(i, i + 1).indexOf('.') > -1) && dot <= 1)) {
                    strVal1 = strVal1 + strVal.substring(i, i + 1)
                }
            }
            if ((strVal1.indexOf('.') == 0)) {
                strVal1 = "0" + strVal1;
            }
            if (strVal1.indexOf('.') > 0) {
                if (((strVal1.length) - (strVal1.indexOf('.') + 1)) > 2) {
                    strVal1 = strVal1.substring(0, strVal1.indexOf('.') + 3);
                }
            }
            strVal = "";
            if (strVal1.indexOf('.') != -1) {
                strVal = strVal1.substring(strVal1.indexOf('.'), strVal1.indexOf('.') + 3);
                strVal1 = strVal1.substring(0, strVal1.indexOf('.'));
            }
            while (strVal1.length > 0) {
                if (strVal1.length > 3) {
                    strVal2 = strVal1.substring(strVal1.length - 3, strVal1.length) + strComma + strVal2;
                    strVal1 = strVal1.substring(0, strVal1.length - 3);
                    strComma = ",";
                }
                else {
                    strVal2 = strVal1 + strComma + strVal2;
                    strVal1 = "";
                }
            }
            if (strVal2.indexOf('.') > 0) {
                strVal2 = strVal2.substring(0, strVal2.indexOf('.'));
            }
            textBox.value = strVal2 + strVal;
        }
    function checkAndGo() {
                doCleanN(document.getElementById("Rent_rate_qunatity"));
        doCleanN(document.getElementById("Number_of_units"));
         if (document.getElementById("Equipment_type").value.trim().length == 0) {
             msg("Please select equipment type");
             return;
         }
         if (document.getElementById("Number_of_units").value.trim().length == 0) {
             msg("Please enter Number Of Units");
             return;
         }
         if (document.getElementById("Rent_rate").value.trim().length == 0) {
             msg("Please select Rent Rate");
             return;
         }
         if (document.getElementById("Rent_rate_qunatity").value.trim().length == 0) {
             msg("Please enter Rent Rate Qunatity");
             return;
         }
         if (document.getElementById("Vendor_company").value.trim().length == 0) {
             msg("Please select Vendor Company");
             return;
         }
         if (document.getElementById("Activity_status").value.trim().length == 0) {
             msg("Please select Activity Status");
             return;
         }
         if (document.getElementById("Activity_date").value.trim().length == 0) {
             msg("Please enter activity date");
             return;
         }

        document.getElementById("widgetu1290").submit();
    }
</script> 
<script> 
    var statusMessage = "@ViewBag.status" || false; 
    if (statusMessage != false && statusMessage.length > 0) {
        msg(statusMessage); 
    }
</script> 
