
@{
    List<Equipment_hub.Data.Models.Equipment_hub_Equipment_Type> data0  =  ( List<Equipment_hub.Data.Models.Equipment_hub_Equipment_Type>)@ViewBag.data0;
} 
 @{
 List<Equipment_hub.Models.Equipment_hub_Rent_Rate_data> data1  =  ( List<Equipment_hub.Models.Equipment_hub_Rent_Rate_data>)@ViewBag.data1;
} 
 @{
 List<Equipment_hub.Data.Models.Equipment_hub_Customer_Company> data2  =  ( List<Equipment_hub.Data.Models.Equipment_hub_Customer_Company>)@ViewBag.data2;
} 
 @{
 List<Equipment_hub.Data.Models.Equipment_hub_Vendor_Company> data3  =  ( List<Equipment_hub.Data.Models.Equipment_hub_Vendor_Company>)@ViewBag.data3;
} 
 @{
 List<Equipment_hub.Data.Models.Equipment_hub_Activity_Status> data4  =  ( List<Equipment_hub.Data.Models.Equipment_hub_Activity_Status>)@ViewBag.data4;
} 
 @{
 string sel = ""; 
}  

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Selected Equipment Activity</h4>
        <div class="form-validation">
            <form id ="widgetu1290"class="form-valide" action="#"  method="post" enctype="multipart/form-data"> 
                @Html.AntiForgeryToken()  
                                                        <input disabled id="id" name="id"  type="hidden" value="@ViewBag.id" />

                   <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Equipment Type</label>
                            <div class="col-lg-6">
                   <select class="form-control" disabled id="Equipment_type" name="Equipment_type">
                   <option value="">Select Equipment type</option>
                   @foreach (Equipment_hub.Data.Models.Equipment_hub_Equipment_Type item in data0)
                   {
                       sel = "";
                       if (ViewBag.equipment_type == item.Id.ToString())
                       {
                            sel = " selected ";
                       }
                       <option  @sel  value="@item.Id"> @item.Name_of_equipment</option>
                   }
               </select>
                    </div>

                </div>

                   <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Number Of Units</label>
                            <div class="col-lg-6">
                                    <input disabled id="Number_of_units" name="Number_of_units" required   onkeyup="doCleanN(this)"    type="text" class="form-control" maxlength="4"
                                         value="@ViewBag.Number_of_units"        placeholder="Number Of Units" />
                                    <input disabled id="oNumber_of_units" name="oNumber_of_units" type="hidden"  value="@ViewBag.Number_Of_Units"     />

                    </div>

                </div>

                   <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Rent Rare</label>
                            <div class="col-lg-6">
                   <select class="form-control" disabled id="Rent_rate" name="Rent_rate">
                   <option value="">Select Rent rate</option>
                   @foreach (Equipment_hub.Models.Equipment_hub_Rent_Rate_data item in data1)
                   {
                       sel = "";
                       if (ViewBag.Rent_Rate == item.Id.ToString())
                       {
                            sel = " selected ";
                       }
                       <option  @sel  value="@item.Id"> @item.Equipement_type</option>
                   }
               </select>
                    </div>

                </div>

                   <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Rent Rate Qunatity</label>
                            <div class="col-lg-6">
                                    <input disabled id="Rent_rate_qunatity" name="Rent_rate_qunatity" required   onkeyup="doCleanN(this)"    type="text" class="form-control" maxlength="4"
                                         value="@ViewBag.Rent_rate_qunatity"        placeholder="Rent Rate Qunatity" />
                                    <input disabled id="oRent_rate_qunatity" name="oRent_rate_qunatity" type="hidden"  value="@ViewBag.Rent_Rate_Qunatity"     />

                    </div>

                </div>

                   <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Customer Company</label>
                            <div class="col-lg-6">
                   <select class="form-control" disabled id="Customer_company" name="Customer_company">
                   <option value="">Select Customer company</option>
                   @foreach (Equipment_hub.Data.Models.Equipment_hub_Customer_Company item in data2)
                   {
                       sel = "";
                       if (ViewBag.Customer_Company == item.Id.ToString())
                       {
                            sel = " selected ";
                       }
                       <option  @sel  value="@item.Id"> @item.Company_name</option>
                   }
               </select>
                    </div>

                </div>

                   <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Vendor Company</label>
                            <div class="col-lg-6">
                   <select class="form-control" disabled id="Vendor_company" name="Vendor_company">
                   <option value="">Select Vendor company</option>
                   @foreach (Equipment_hub.Data.Models.Equipment_hub_Vendor_Company item in data3)
                   {
                       sel = "";
                       if (ViewBag.Vendor_Company == item.Id.ToString())
                       {
                            sel = " selected ";
                       }
                       <option  @sel  value="@item.Id"> @item.Company_name</option>
                   }
               </select>
                    </div>

                </div>

                   <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Activity Status</label>
                            <div class="col-lg-6">
                   <select class="form-control" disabled id="Activity_status" name="Activity_status">
                   <option value="">Select Activity status</option>
                   @foreach (Equipment_hub.Data.Models.Equipment_hub_Activity_Status item in data4)
                   {
                       sel = "";
                       if (ViewBag.Activity_Status == item.Id.ToString())
                       {
                            sel = " selected ";
                       }
                       <option  @sel  value="@item.Id"> @item.Activity_status_name</option>
                   }
               </select>
                    </div>

                </div>

                   <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Activity date</label>
                            <div class="col-lg-6">
                   <input disabled id="Activity_date" name="Activity_date" required   type="datetime" class="form-control" maxlength="1"
                       value="@ViewBag.Activity_date"    placeholder="activity date" />
                           <input disabled id="oActivity_date" name="oActivity_date" type="hidden"  value="@ViewBag.activity_date"     />

                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
<script> 
    var selectedRights = ""; 
    function setRight(id) { 
        selectedRights = document.getElementById("selectedRights").value;  
        if (selectedRights.indexOf("sphinxcol" + id + "sphinxcol") > -1) { 
            selectedRights = selectedRights.split("sphinxcol" + id + "sphinxcol").join(""); 
        } 
        else { 
            selectedRights += "sphinxcol" + id + "sphinxcol"; 
        } 
        document.getElementById("selectedRights").value = selectedRights;  
    } 
    function doClean(text) { 
        text.value = text.value.split("'").join("");
        text.value = text.value.split(">").join("");
        text.value = text.value.split("<").join("");
        text.value = text.value.split("~").join("");
        text.value = text.value.split("&").join("");
        text.value = text.value.split("\\").join("");
        text.value = text.value.split("_").join("");
        text.value = text.value.split("%").join("");
        text.value = text.value.split("\"").join("");
    } 
    function doCleanN(text) {
        var list = "0123456789";
        var data = text.value;
        for (i = 0; i < data.length; i++) {
            if (list.indexOf(data.substring(i, i + 1)) == -1) {
                data = data.split(data.substring(i, i + 1)).join(""); 
            }
        }
        text.value = data;
    } 
        function msg(txt) {
            sweetAlert("...", txt, "info");
        }
        function doCleanNumber(textBox) {
            var strVal;
            var strVal1;
            var strVal2;
            var dot;
            var i;
            var strComma;
            strVal2 = "";
            strComma = "";
            strVal1 = "";
            if (isNaN(textBox.value.split(",").join(""))) {
                textBox.value = parseFloat(textBox.value.split(",").join(""));
            }
            strVal = textBox.value;
            dot = 0;
            for (i = 0; i < strVal.length; i++) {
                if (strVal.substring(i, i + 1).indexOf('.') > -1) {
                    dot = dot + 1;
                }
                if ((strVal.substring(i, i + 1).indexOf('0') > -1) || (strVal.substring(i, i + 1).indexOf("1") > -1) || (strVal.substring(i, i + 1).indexOf("2") > -1) || (strVal.substring(i, i + 1).indexOf("3") > -1) || (strVal.substring(i, i + 1).indexOf("4") > -1) || (strVal.substring(i, i + 1).indexOf("5") > -1) || (strVal.substring(i, i + 1).indexOf("6") > -1) || (strVal.substring(i, i + 1).indexOf("7") > -1) || (strVal.substring(i, i + 1).indexOf("8") > -1) || (strVal.substring(i, i + 1).indexOf("9") > -1) || ((strVal.substring(i, i + 1).indexOf('.') > -1) && dot <= 1)) {
                    strVal1 = strVal1 + strVal.substring(i, i + 1)
                }
            }
            if ((strVal1.indexOf('.') == 0)) {
                strVal1 = "0" + strVal1;
            }
            if (strVal1.indexOf('.') > 0) {
                if (((strVal1.length) - (strVal1.indexOf('.') + 1)) > 2) {
                    strVal1 = strVal1.substring(0, strVal1.indexOf('.') + 3);
                }
            } 
            strVal = "";
            if (strVal1.indexOf('.') != -1) {
                strVal = strVal1.substring(strVal1.indexOf('.'), strVal1.indexOf('.') + 3);
                strVal1 = strVal1.substring(0, strVal1.indexOf('.'));
            } 
            while (strVal1.length > 0) {
                if (strVal1.length > 3) {
                    strVal2 = strVal1.substring(strVal1.length - 3, strVal1.length) + strComma + strVal2;
                    strVal1 = strVal1.substring(0, strVal1.length - 3);
                    strComma = ",";
                }
                else {
                    strVal2 = strVal1 + strComma + strVal2;
                    strVal1 = "";
                }
            } 
            if (strVal2.indexOf('.') > 0) {
                strVal2 = strVal2.substring(0, strVal2.indexOf('.')); 
            } 
            textBox.value = strVal2 + strVal;
        } 
    function checkAndGo() { 
                doCleanN(document.getElementById("Rent_rate_qunatity"));
        doCleanN(document.getElementById("Number_of_units"));
         if (document.getElementById("Equipment_type").value.trim().length == 0) {
             msg("Please select equipment type");
             return;
         } 
         if (document.getElementById("Number_of_units").value.trim().length == 0) {
             msg("Please enter Number Of Units");
             return;
         } 
         if (document.getElementById("Rent_rate").value.trim().length == 0) {
             msg("Please select Rent Rate");
             return;
         } 
         if (document.getElementById("Rent_rate_qunatity").value.trim().length == 0) {
             msg("Please enter Rent Rate Qunatity");
             return;
         } 
         if (document.getElementById("Customer_company").value.trim().length == 0) {
             msg("Please select Customer Company");
             return;
         } 
         if (document.getElementById("Vendor_company").value.trim().length == 0) {
             msg("Please select Vendor Company");
             return;
         } 
         if (document.getElementById("Activity_status").value.trim().length == 0) {
             msg("Please select Activity Status");
             return;
         } 
         if (document.getElementById("Activity_date").value.trim().length == 0) {
             msg("Please enter activity date");
             return;
         } 

        document.getElementById("widgetu1290").submit(); 
    } 
</script> 
<script> 
    var statusMessage = "@ViewBag.status" || false; 
    if (statusMessage != false && statusMessage.length > 0) {
        msg(statusMessage); 
    }
</script> 
