@model IEnumerable<Equipment_hub.Models.Equipment_hub_Vendor_Payments_data>
 
 
<div class="card">
    <div class="card-body">
        <h4 class="card-title">View Vendor Payments</h4> 
        <div class="table-responsive">
            <table class="table table-striped table-bordered zero-configuration">
                <thead>
                    <tr>
                        <th>   </th> 
                        <th>Equipement Activity</th>
                        <th>amount</th>
                        <th>Date Payment Was Due</th>
                        <th>Date Payment Was Made</th>
 
                    </tr> 
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>                            
                            <td>@Html.ActionLink("Select", "edit_Vendor_Payments", new
                           {
                            id=item.Id, 
                            Date_Payment_Was_Made = item.Date_payment_was_made
                            ,Date_Payment_Was_Due = item.Date_payment_was_due
                            ,amount = item.Amount
                            ,Equipement_Activity = item.Equipement_activity
                               })</td> 
                           <td>@Html.DisplayFor(modelItem => item.Equipement_activity_data)</td>
                           <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                           <td>@Html.DisplayFor(modelItem => item.Date_payment_was_due)</td>
                           <td>@Html.DisplayFor(modelItem => item.Date_payment_was_made)</td>
                        </tr>
                    }
                    
                </tbody>
                <tfoot>
                    <tr>                        
                        <th>   </th> 
                        <th>Equipement Activity</th>
                        <th>amount</th>
                        <th>Date Payment Was Due</th>
                        <th>Date Payment Was Made</th>
 
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div> 
<script> 
    function msg(txt) {
        sweetAlert("...", txt, "info");
    }
    var statusMessage = "@ViewBag.status" || false; 
    if (statusMessage != false && statusMessage.length > 0) {
        msg(statusMessage); 
    }
</script>